:root {
  --branding-color: rgb(238, 238, 238);
  --heading-font-family: font-family: 'Raleway', sans-serif;
  --body-font-family: "Poppins", sans-serif;
  --secondary-color: rgb(37, 36, 36);
  --accent-color: rgb(158, 188, 214);
  --extra-color: hsl(343, 70%, 66%);
}

h2 h3 h4 h5 h6 {
  font-family: var(--body-font-family);
  font-weight: bold;
  
}
body {
  font-family: var(--body-font-family);
}

h1 {
  color: #eeeeee;
  font-size: 85px;
  font-family: var(--heading-font-family);
  font-weight: bolder;
  line-height: 1.5;
  -webkit-text-stroke: 2.5px black;
 
}

h2 {
  font-size: 44px;
  -webkit-text-stroke: 0.6px var(--extra-color);
  font-weight: bolder;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

nav {
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 17px;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--accent-color);
}



a:hover {
  color: var(--extra-color);
}

.hero {
  background: var(--secondary-color);
  color: rgb(158, 188, 214);
  text-align: center;
  padding: 50px 10px;
  
}

.hero p {
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  -webkit-text-stroke: 1.5px black;
  
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font: 24px;
  line-height: 1.5;
  -webkit-text-stroke: 1.5px black;
}

.content-container {
  background: var(--secondary-color);
  color: rgb(158, 188, 214);
  padding: 100px 50px;
}

.content h1 {
  font-size: 59px;
  line-height: 80px;
}

.content h2 {
  font-size: 23px;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

.fa-laptop-code {
  color: var(--extra-color);
}

.content h1 {
  margin: 30px;
}

.content h3 {
  font-size: 30px;
  line-height: 1;
  margin: 20px 0 0;
  font-family: var(--body-font-family);
}

.content p {
  font-size: 19px;
  color: #eeeeee;
  line-height: 2;
}

.mb-3 {
  font-size: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background-color: var(--extra-color);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.btn-branding-outline {
  background: var(--accent-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-branding-outline:hover {
  background: var(--extra-color);
  transition: all 100ms ease-in-out;
}

.project-description {
  padding: 80px 60px;
}

a {
  text-decoration: none;
  color: var(--branding-color);
}
footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--extra-color);
  transition: all 100ms ease-in-out;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--accent-color);
  padding: 9px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .contact-box {
  background-color: var(--branding-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a:hover {
  color: var(--branding-color);
  background-color: var(--extra-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  h1 {
    font-size: 55px;
    line-height: 1.25;
  }

  h2 {
    font-size: 34px;
  }

  h4 {
    font-size: 20px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    line-height: 1.5;
  }
  .hero p {
    font-size: 20px;
    font-weight: thin;
    margin: 0;
  }

  .about-hero {
    margin: 0;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .content h1 {
    font-size: 55px;
    line-height: 50px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    text-align: center;
  }

    nav ul {
    display: block;
    margin: 0 auto;
  }

  .mb-3 {
    font-size: 19px;
  }
}

.img-fluid {
  opacity: 1;
  border-radius: 10px;
  filter: grayscale(100%);
  margin: 35px 10px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-fluid:hover {
  filter: none;
  transition: all 100ms ease-in-out;
}

.text-center {
  font-size: 30px;
}
